button {
    padding: 10px 20px;
    background-color: #1cdfc5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
body{
    margin-left: 10%;
    background-color: beige;
}


